.quiz-main * {
  font-family: 'Roboto', 'PT Sans', sans-serif;
}

.quiz-title {
  padding-top: 50px;
  text-align: center;
  h1 {
    font-size: 22px;
    font-weight: 300;
    color: #1e347b;
  }
}

.actions {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  button {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
  }

}


