.quiz-main * {
  font-family: 'Roboto', 'PT Sans', sans-serif;
}

.question-block {
  width: 100%;
  max-width: 650px;
  margin: 50px auto auto;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 0;
}

.quiz-title {
  padding-top: 50px;
  text-align: center;
  h1 {
    font-size: 1.6em;
    font-weight: 300;
    color: #1e347b;
  }
}

.card-title,
.details {
  color: #3498db;
  padding-bottom: 15px;
  font-size: 19px;
  font-weight: 500;
}

button {
  float: right;
}
