<div class="quiz-main" *ngIf="quizLoaded">
  <div class="quiz-title">
    <h1>Quiz: '{{ quizName }}'</h1>
  </div>

  <div class="card card-block question-block">
    <qz-question [question]="currentQuestion"></qz-question>
    <div class="actions">
      <button class="btn btn-secondary" *ngIf="!firstQuestion"
              (click)="previousQuestion()">&lt; Previous
      </button>
      <div [ngSwitch]="lastQuestion">
        <button class="btn btn-primary"
                *ngSwitchCase="true"
                (click)="submit()">Submit &gt;
        </button>
        <button class="btn btn-primary"
                *ngSwitchDefault
                (click)="nextQuestion()">Next &gt;
        </button>
      </div>
    </div>
  </div>
</div>

