<div class="quiz-main" *ngIf="quizLoaded">
  <div class="quiz-title">
    <h1>Quiz: '{{ quizName }}'</h1>
  </div>

  <div class="card card-block question-block">
    <qz-question [question]="currentQuestion"></qz-question>
    <div [ngSwitch]="lastQuestion">
      <button class="btn btn-primary"
              *ngSwitchCase="true"
              (click)="submit()">Submit &gt;</button>
      <button class="btn btn-primary"
              *ngSwitchDefault
              (click)="getNextQuestion()">Continue &gt;</button>
    </div>
  </div>
</div>

