<div class="login-box">

  <header>
    <div class="section-title">
      <h1>Quizzler Online</h1>
    </div>
  </header>

  <div class="login-content">
    <div class="section-title">
      <h3>LogIn to your Account</h3>
      <p>
        Hello. Great to see you again!
      </p>
      <div class="login_messsage">
        The username or password you entered was incorrect.
      </div>
    </div>

    <form name="login">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-primary" (click)="login()">Submit</button>
    </form>

  </div>

  <div class="login-form-links link1" >
    <h4 class="blue">Don't have an Account?</h4>
    <span>No worry</span>
    <a href="#" class="blue">Click Here</a>
    <span>to Register</span>
  </div>

  <div class="login-form-links link2">
    <h4 class="blue">Forget your Password?</h4>
    <span>Dont worry</span>
    <a href="#" class="blue">Click Here</a>
    <span>to Get New One</span>
  </div>
</div>
