.question * {
  font-family: 'Roboto', 'PT Sans', sans-serif;
}

.card-title,
.details {
  color: #3498db;
  padding-bottom: 15px;
  font-size: 19px;
  font-weight: 500;
}

.question-block {
  width: 100%;
  max-width: 650px;
  margin: 50px auto auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 0;
}
